.last {
    font-size: 1.9em;
    font-weight: bold;
  }
  .last:hover {
    transform: scale(1.06);
    
  }
  .con {
    width: 50vw;
  }
  .men {
    position: absolute;
    width: 10vw;
    height: 10vh;
    left: 8%;
    top: 30%;
    cursor: pointer;
  
}

.sidebar-menu {
    width: 15vw;
    box-shadow: 2px 2px 5px black;
}